.site-header{
    /* background-color: #1bbc9b; */
    /* background-color: rgb(232, 17, 78); */
    background-image: linear-gradient(135deg, #1bbc9b, rgb(232, 17, 78));
    color: #ecfdf9;
    height: 100vh;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body{
    margin: 0;
}

.profile-pic{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    /* align-self: center; */
    /* box-shadow: #045646 2px 5px 5px; */
    box-shadow: #690d28 2px 5px 5px;;
}

.site-header-content{
    margin: 10px;
}

.linkdin{
    color: #ecfdf9;
}